# Olympics data

The dataset contains 2 sheet “Bios” and “Results”

[Link to the original source](https://medium.com/@soulawalid/pandas-tutorial-ii-2024-update-1a5d6ca4ddb3)

In [14]:
import pandas as pd

bios = pd.read_excel(r'C:\\Users\\ce_ra\\Documents\\CIMAT\\Python\\Experimentos\\TowardsDataScience\\Pandas\\olympics-data.xlsx')
bios

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [16]:
results = pd.read_excel(r'C:\\Users\\ce_ra\\Documents\\CIMAT\\Python\\Experimentos\\TowardsDataScience\\Pandas\\olympics-data.xlsx', sheet_name = 'results')
results

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,17.0,True,NaN
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,NaN
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,NaN,32.0,True,NaN
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,NaN
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,NaN,26.0,False,NaN
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,NaN,28.0,False,NaN
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,NaN
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,NaN,NaN,False,NaN
308407,2022.0,Winter,NaN,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,NaN,NaN,24.0,False,NaN

### Saving the file to another format

In [25]:
# Save to another format
results.to_parquet(r'C:\\Users\\ce_ra\\Documents\\CIMAT\\Python\\Experimentos\\TowardsDataScience\\Pandas\\olympics-data.parquet')

# Read it
results2 = pd.read_parquet(r'C:\\Users\\ce_ra\\Documents\\CIMAT\\Python\\Experimentos\\TowardsDataScience\\Pandas\\olympics-data.parquet')
results2

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,2022.0,Winter,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,2022.0,Winter,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,2022.0,Winter,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,2022.0,Winter,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,2022.0,Winter,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

### Access a random sample of the data

In [26]:
results2.sample(10)
# results2.sample((10),random_state =1)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
124637,1964.0,Summer,Wrestling,"Welterweight, Greco-Roman, Men (Olympic)",Matti Laakso,57916,FIN,None,NaN,False,None
275717,2018.0,Winter,Biathlon,"20 kilometres, Men (Olympic)",Artem Pryma,128648,UKR,None,46.0,False,None
277000,2016.0,Summer,Rugby Sevens (Rugby),"Rugby Sevens, Women (Olympic)",Paula Ishibashi,129304,BRA,Brazil,9.0,False,None
189960,2008.0,Summer,Handball,"Handball, Women (Olympic)",Valérie Nicolas,88853,FRA,France,5.0,False,None
48168,1972.0,Summer,Football (Football),"Football, Men (Olympic)",Essul Badu Mensah,25548,GHA,Ghana,13.0,True,None
117234,2000.0,Summer,Volleyball (Volleyball),"Volleyball, Men (Olympic)",Igor Shulepov,52987,RUS,Russian Federation,2.0,False,Silver
65779,1936.0,Summer,Artistic Gymnastics (Gymnastics),"Team All-Around, Men (Olympic)",Otello Ternelli,30558,ITA,Italy,5.0,False,None
218289,2006.0,Winter,Cross Country Skiing (Skiing),"15 kilometres, Men (Olympic)",Christophe Perrillat-Collomb,101042,FRA,None,24.0,False,None
38391,1912.0,Summer,Fencing,"Foil, Individual, Men (Olympic)",François Rom,21292,BEL,None,NaN,False,None
242539,2008.0,Summer,Volleyball (Volleyball),"Volleyball, Women (Olympic)",Marina Akulova,112088,RUS,Russian Federation,5.0,True,None

### Access specific part of the data

In [27]:
results2.loc[0]

year                          1912.0
type                          Summer
discipline                    Tennis
event         Singles, Men (Olympic)
as             Jean-François Blanchy
athlete_id                         1
noc                              FRA
team                            None
place                           17.0
tied                            True
medal                           None
Name: 0, dtype: object

In [28]:
# Slice
results2.loc[0:3]

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None

In [31]:
# Slide with rows and columns with loc
results2.loc[0:2, ['type','team']]

     type            team
0  Summer            None
1  Summer  Jean Montariol
2  Summer            None

In [32]:
# All rows and specific columns with loc
results2.loc[:, ['type','team']]

          type             team
0       Summer             None
1       Summer   Jean Montariol
2       Summer             None
3       Summer  Jeanne Vaussard
4       Summer  Jacques Brugnon
...        ...              ...
308403  Winter             None
308404  Winter             None
308405  Winter           Sweden
308406  Winter             None
308407  Winter             None

[308408 rows x 2 columns]

### Changing the index of the DataFrame

In [33]:
# Changing the index
results2.index = results2['type']

### Restore the index

In [35]:
results2 = pd.read_parquet(r'C:\\Users\\ce_ra\\Documents\\CIMAT\\Python\\Experimentos\\TowardsDataScience\\Pandas\\olympics-data.parquet')
# Changing the index
results2.set_index('type', inplace=True)
# Restore the index
results_restored = results2.reset_index()
results_restored

,type,year,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,Summer,1912.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,Summer,1912.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,Summer,1920.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,Summer,1920.0,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,Summer,1920.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...
308403,Winter,2022.0,Luge,"Singles, Men (Olympic)",Marián Skupek,148983,SVK,None,26.0,False,None
308404,Winter,2022.0,Alpine Skiing (Skiing),"Slalom, Women (Olympic)",Elsa Fermbäck,148984,SWE,None,28.0,False,None
308405,Winter,2022.0,Alpine Skiing (Skiing),"Team, Mixed (Olympic)",Hilma Lövblom,148985,SWE,Sweden,13.0,False,None
308406,Winter,2022.0,Alpine Skiing (Skiing),"Giant Slalom, Women (Olympic)",Hilma Lövblom,148985,SWE,None,NaN,False,None
308407,Winter,2022.0,None,"Slalom, Women (Olympic)",Charlotta Säfvenberg,148986,None,None,24.0,False,None

You can’t now use **loc** to grab specifics values ,you will get an error since it’s a qualitative value, you can use the following

In [36]:
# Using loc from the new index
results2.loc['Summer']

,year,discipline,event,as,athlete_id,noc,team,place,tied,medal
type,,,,,,,,,,
Summer,1912.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
Summer,1912.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
Summer,1920.0,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
Summer,1920.0,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
Summer,1920.0,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None
...,...,...,...,...,...,...,...,...,...,...
Summer,1996.0,Water Polo (Aquatics),"Water Polo, Men (Olympic)",Anastasios Papanastasiou,147804,GRE,Greece,6.0,False,None
Summer,1920.0,Rowing,"Coxed Fours, Men (Olympic)",Raphael de Ligne,147805,BEL,Belgium,2.0,False,None
Summer,2018.0,Roller Skating (Roller Sports),"Combined, Boys (YOG)",Merijn Scheperkamp,148677,NED,None,3.0,False,Bronze
Summer,2018.0,Triathlon,"Sprint, Girls (YOG)",Anja Weber,148920,SUI,None,3.0,False,Bronze
Summer,2018.0,Triathlon,"Relay, Mixed Youth (YOG)",Anja Weber,148920,SUI,Europe 1,1.0,False,Gold

You can also have **Multiple filters**

In [37]:
# Multple filters
results2.loc['Summer', 'medal']

type
Summer      None
Summer      None
Summer      None
Summer      None
Summer      None
           ...
Summer      None
Summer      None
Summer    Bronze
Summer    Bronze
Summer      Gold
Name: medal, Length: 241298, dtype: object

### **at** and **iat** : 

There is also other method to get access to specific values using at and iat for specific items

* For example I want to look at the 0 index and have the discipline, I can do the following

In [39]:
results2.at[0, "discipline"] #'Tennis'